*{
    margin:0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;  
    padding: 0px;   
    margin:0px;
    background-color: #FAFAFA; 
}

#head{
    height:55px;
    width: 100%;
    color:gray;
    text-align: center;
    overflow: hidden;
    background-color: #C4DCE6;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);

}

#head h1{
    color:#fff;
    font-size: 40px;
    float: left;
}

#head .navButtons{
    float: left;
    margin-left: 15px;
    width:50px;
    height:50px;
    margin-right: 10px;
}

#loginSec{
    float: right; 
    margin: 5px;
}

#head nav ul{
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 5px;

}

#head nav li .navButtons{
    width:50px;
    height:50px;
    margin-right: 10px;
}

#head nav li{
    float: left;
}
#head nav ul{

    list-style-type: none;
    margin: 0;
    padding: 0;

}

#head nav li .navButtons{
    width:50px;
    height:50px;
    margin-right: 10px;
}

#head nav li{
    float: left;
}

#loginSec form{
    float:right;
    margin: 0px;
    border: 1px solid #868D90;
    background: inherit;
    border-radius: 10px;
}

#loginSec p{
    margin: 0px;
    color: #868D90;
    padding: 4px;
    border: 1px solid #868D90;
    background: inherit;
    border-radius: 10px;
}


.button{
    background-color: #868D90;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button:hover{
    background-color: #7B7E7F;
    color: #fff;
}


.button2{
    background-color: #C4DCE6;
    border: none;
    color: #303030;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button2:hover{
    background-color: #A3DEF8;
    color: #303030;
}

#categorias{
    height: 100%;
    position: fixed; 
    left: 0;
    width: 21%;
    padding: 2%;
    color: #fff;
    background-color: #868D90;
    text-align: left;
}

#categorias b{
    color:#C4DCE6;
}

#categorias p{
    margin-top: 8px;
}

#categorias #editarButton{
    margin-top: 20px;
}

#categorias img#fotoPerfil{ 
    width: 150px;
    height: 150px;
}

#opcoes{
    margin-left: 26%;
    text-align: center;
    float: left;
    width: 74%;
}

#opcoes a{
    text-decoration: none;
    color: #868D90;
    font-weight: bold;
    text-align: center;
}

#opcoes article img{ 
    margin: 5px;
    width: 90px;
    height: 90px;
}

#opcoes article{  
    background-color: white;
    margin: 5px;
    width: 150px;
    height: 150px;
    overflow: auto;
    display: inline-block;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

#foot{
    position: fixed;
    bottom: 0px;
    margin-left: 25%;
    display: block;
    color:#868D90;
    clear:both;
    height: 50px;
    width: 100%;
    background-color: #C4DCE6;
    text-align:center;
}

#foot p{
    position: absolute;
    top: 15px;
    left: 20%;
    color: #868D90;
}


/*Tables*/

table {
    margin:10px;
    border-collapse: collapse;
    
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #868D90;
    color: #fff;
}

tr:hover{
    background-color: #868D90;
}